/functions/node_modules
/terraform/.terraform
/terraform/.terraform/modules
/terraform/.terraform.lock.hcl
functions/package-lock.json
functions/firebase-debug.log
.firebase/hosting.cHVibGlj.cache
.firebaserc
